In [1]:
import random

In [2]:
random.seed(10)

In [3]:
inds = random.sample(range(150), int(150*0.7))

In [4]:
import seaborn as sns

In [5]:
iris = sns.load_dataset("iris")

In [6]:
train = iris.loc[inds, :]

In [7]:
train.head()

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
8             4.4          2.9           1.4          0.2     setosa
109           7.2          3.6           6.1          2.5  virginica
123           6.3          2.7           4.9          1.8  virginica
3             4.6          3.1           1.5          0.2     setosa

In [8]:
train.sort_index(inplace=True)

In [9]:
train.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
7           5.0          3.4           1.5          0.2  setosa

In [10]:
test = iris.loc[~iris.index.isin(train.index)]

In [11]:
test.sort_index(inplace=True)

In [12]:
test.head()

    sepal_length  sepal_width  petal_length  petal_width species
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
13           4.3          3.0           1.1          0.1  setosa
16           5.4          3.9           1.3          0.4  setosa

In [13]:
train = iris.sample(frac=0.7)

In [14]:
train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
128           6.4          2.8           5.6          2.1   virginica
58            6.6          2.9           4.6          1.3  versicolor
91            6.1          3.0           4.6          1.4  versicolor
106           4.9          2.5           4.5          1.7   virginica
115           6.4          3.2           5.3          2.3   virginica

In [15]:
test = iris.loc[~iris.index.isin(train.index)]

In [16]:
train.shape, test.shape

((105, 5), (45, 5))

In [17]:
X = iris.iloc[:,:-1]
y = iris.iloc[:,-1]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
train_X, test_X, train_y, test_y = train_test_split(X, y,
                                test_size=0.3)

In [20]:
train_X.shape, test_X.shape

((105, 4), (45, 4))

In [21]:
test_y.value_counts()

setosa        17
virginica     15
versicolor    13
Name: species, dtype: int64

In [22]:
train_X, test_X, train_y, test_y = train_test_split(X, y,
                            test_size=0.3, stratify=y)

In [23]:
train_y.value_counts()

setosa        35
versicolor    35
virginica     35
Name: species, dtype: int64

In [24]:
test_y.value_counts()

virginica     15
versicolor    15
setosa        15
Name: species, dtype: int64

In [25]:
# 아래처럼 각각의 변수를 따로 샘플링 하면 안됨
train_X, test_X = train_test_split(X, test_size=0.3)
train_y, test_y = train_test_split(y, test_size=0.3)
print(train_X.index)
print(train_y.index) # 선택된 행이 다름

Int64Index([ 68,  94,  58, 114,  87, 134,   2,  47,  33,  13,
            ...
             52,  45,   8, 142,  50, 119, 140,  96, 143,  82],
           dtype='int64', length=105)
Int64Index([ 27, 127, 107, 102,  14, 105, 110,  94, 121, 147,
            ...
             87,  77,  36,  47,  12, 111, 125, 104, 138,  69],
           dtype='int64', length=105)